body {
    display: grid;
    min-height: 100vh;
    grid-template-rows: 0fr 1fr 0fr;
}

header, footer {
    background-color: #333;
}

.conteneur {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.erreur{
    background: #f36666;
    padding: 5px;
    margin: 5px;
    border-radius: 10px;
}

.validation {
    background: #669933;
    padding: 5px;
    margin: 5px;
    border-radius: 10px;
}

.profil {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border: 2px solid grey;
    border-radius: 8px;
}

.profil > .centre{
    text-align: center;
}

.profil >.cadre > h2 {
    padding: 10px 0;
    margin: 10px 0;
    border: 2px solid grey;
    border-left: none;
    border-right: none;
}