body {
    display: grid;
    min-height: 100vh;
    grid-template-rows: 0fr 1fr 0fr;
}

:root {
    --primary-color:#fbfbfb;
    --secondary-color:#333;
    --tertiary-color:gold;
    --error-color:#f36666;
    --valid-color:#669933;
}

header, footer {
    background-color: var(--secondary-color);
}

.conteneur {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.erreur{
    background: var(--error-color);
    padding: 5px;
    margin: 5px;
    border-radius: 10px;
}

.validation {
    background: var(--valid-color);
    padding: 5px;
    margin: 5px;
    border-radius: 10px;
}

.profil {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border: 2px solid grey;
    border-radius: 8px;
}

.profil > .centre{
    text-align: center;
}

.profil >.cadre > h2 {
    padding: 10px 0;
    margin: 10px 0;
    border: 2px solid grey;
    border-left: none;
    border-right: none;
}

hr {
    color: var(--secondary-color);
    width: 250px;
}
table{
    border-collapse: collapse;
    min-width: 1280px;
    width: 95%;
}

table tr td {
    text-align: center;
}

td, th{
    padding: 5px;
}

table tr, table td td {
    border: 2px solid grey;
}